[Desktop Entry]
Name=xfiles
GenericName=xfiles
Exec=xfiles
Terminal=false
Type=Application
Categories=Graphics;Viewer;
StartupNotify=true
NoDisplay=true
